
body, html { 
    margin:0; 
    padding:0; 
    height:100%;
    width:100%;
    overflow: hidden;
}

h2 {
    font-family: 'Averia Serif Libre', Arial;
    font-size: 2em;
    text-align: center;
}

h3 {
    font-family: 'Averia Serif Libre', Arial;
    font-size: 1.5em;
    text-align: center;
}

ul {
    padding-left: 0;
}

a {
    color: #656565;
}

a:visited{
    color: #656565;
}

.centered-link {
    display: table;
    margin: auto;
}

#map {
    position: absolute;
    left:0;
    top: 0;
    bottom: 0;
    right: 0;
}

#features {
    max-width: 450px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: sans-serif;
    overflow-y: scroll;
    background-color: rgba(250, 250, 250, 0.8);
    z-index: 9999999999;

    transition:all .3s ease-in-out;
    transform:translateX(100%);
}

#features.visible {
    transform:translateX(0);
}

#features > section {
    padding:  25px 45px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
}

.resume-item {
    opacity: 0.25;

    transition:all .3s ease-in-out;
    transform:scale(.9);

}

.resume-item.active {
    opacity: 1;
    background-color:rgba(250, 250, 250, 1);

    transform:scale(1);
}

.resume-item:first-child {
    opacity: 1;
    margin-bottom: 0;
}

.resume-item:last-child {
    border-bottom: none;
    margin-bottom: 600px;
}


.job-title {
    line-height: .75em;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-family: 'Averia Serif Libre', Arial;
    text-align: center;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker-title {
    font-weight: 700;
    font-family: 'Averia Serif Libre', Arial;
}

.item-logo {
    width:150px;
    height:150px;
    border-radius: 75px;
    margin:0 auto;
    display: block;

    background-size:cover;
    background-position: center;
}

#bic-logo {
    background-image:url(img/bic.png);
}

#hb-logo {
    background-image:url(img/hackbright.png);
}

#gtown-logo {
    background-image:url(img/gtown.png);
}

#rgc-logo {
    background-image:url(img/rgc.png);
}

#belize-logo {
    background-image:url(img/belize.png);
}

#sf-logo {
    background-image:url(img/sfseal.png);
}

/*TODO: FIX THIS UP*/
.floating {
    position: absolute;
    z-index: 99999;

    top:50%;
    left:50%;

    margin-top: -200px;
    margin-left: -200px;

    max-width:400px;
    height:auto;

    background-color:white;
    /*border: 1px red solid;*/

    padding: 25px;
}

#lastStop {
    display: none;
    transition: all .3s ease-in-out 0s;
}

button {
    margin: 10px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
    font-family: 'Averia Serif Libre', Arial, serif;

    transition: all 0.3s ease 0s;

}

button:hover {
    background: #f16d3d;
    box-shadow:0.5px 0.5px 0.25px #888888;
}

.date {
    text-align: right;
    opacity: 0.8;
}

/* Styles to hide and show resume popup content and tour popup content */
.tourPopupContent {
    display: block;
}
.resumePopupContent {
    display: none;
}


/* Styles for resume/tour mode switch */
/* Adapted from Proto.io */

.onoffswitch {
    position: fixed; width: 160px;
    margin: 10px;
    z-index: 999;
    display: none;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;

    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: 'Helvetica Neue', Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Tour mode on";
    padding-left: 10px;
    background-color: #EE8A65; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Resume mode on";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 126px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


/* Center social media links */
#contact {
    width: 212px;
    margin: 0 auto;
}

/* Get rid of underline on social links */
.socialLink {
    text-decoration: none;
}


/* Progress bar styles */
.progress {
    position: absolute;
    top:0;
    height:34px;
    z-index: 999999;

}

.outer-progress {
    left: 50%;
    width: 400px;
    margin: 10px 10px 10px -200px;
    border: 2px solid #999999;
    border-radius: 20px;
    background-color: rgba(250, 250, 250, 0.8);
}

.inner-progress {
    background-color: #EE8A65;
    transition:all .3s ease-in-out;
    border-radius: 20px;
}

.progress-step {
    position: absolute;
    right: -60px;
    font-size: 14px;
    color: #999999;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    line-height: 30px;
}


/*center p under resume header*/
.center {
    text-align: center;
}








